parameters:
  DoEsrp: false
  StageName: 'FoundryLocalNugetPackaging'
  DependsOn: []
  PackageName: 'Microsoft.ML.OnnxRuntime.Foundry'

stages:
- stage: ${{ parameters.StageName }}
  dependsOn: ${{ parameters.DependsOn }}
  jobs:
  - job: ${{ parameters.StageName }}
    timeoutInMinutes: 120
    pool:
      name: 'onnxruntime-Win2022-GPU-A10'
      os: windows
    templateContext:
      sdl:
        codeSignValidation:
          enabled: true
          break: true
        psscriptanalyzer:
          enabled: true
        binskim:
          enabled: true
          scanOutputDirectoryOnly: true
      outputs:
      - output: pipelineArtifact
        targetPath: $(Build.ArtifactStagingDirectory)
        artifactName: "onnxruntime-foundry-nuget"
    variables:
      DoEsrp: ${{ parameters.DoEsrp }}
      ReleaseVersionSuffix: $[stageDependencies.Setup.Set_Variables.outputs['Set_Release_Version_Suffix.ReleaseVersionSuffix']]
      BuildDate: $[stageDependencies.Setup.Set_Variables.outputs['Set_Build_Date.BuildDate']]
      BuildTime: $[stageDependencies.Setup.Set_Variables.outputs['Set_Build_Time.BuildTime']]

    steps:
    - task: DownloadPipelineArtifact@0
      displayName: 'Download Pipeline Artifact - managed nuget'
      inputs:
        artifactName: 'onnxruntime-managed-nuget'
        targetPath: '$(Build.BinariesDirectory)/managed-nuget'

    - task: DownloadPipelineArtifact@0
      displayName: 'Download Pipeline Artifact - win-x64'
      inputs:
        artifactName: 'onnxruntime-win-x64-cuda'
        targetPath: '$(Build.BinariesDirectory)/win-x64'

    - task: DownloadPipelineArtifact@0
      displayName: 'Download Pipeline Artifact - win-arm64'
      inputs:
        artifactName: 'onnxruntime-win-arm64'
        targetPath: '$(Build.BinariesDirectory)/win-arm64'

    - task: DownloadPipelineArtifact@0
      displayName: 'Download Pipeline Artifact - osx'
      inputs:
        artifactName: 'onnxruntime-osx'
        targetPath: '$(Build.BinariesDirectory)/osx'

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.12'
        addToPath: true

    - task: PipAuthenticate@1
      displayName: 'Pip Authenticate'
      inputs:
        artifactFeeds: 'Lotus'

    - task: PowerShell@2
      displayName: 'Create osx directories'
      inputs:
        targetType: 'inline'
        script: |
          New-Item -ItemType Directory -Force -Path "$(Build.BinariesDirectory)/osx-arm64" | Out-Null
          Move-Item -Path $(Build.BinariesDirectory)/osx/onnxruntime-osx-arm64* -Destination $(Build.BinariesDirectory)/osx-arm64

    - task: PowerShell@2
      displayName: 'List all files downloaded'
      inputs:
        targetType: 'inline'
        script: |
          $files = Get-ChildItem $(Build.BinariesDirectory) -Recurse
          foreach ($file in $files) {
            Write-Host "File: $($file.FullName)"
            if ($file -like "*onnxruntime*") {
              Write-Host "File onnxruntime: $($file.FullName) - Size: $($file.Length)"
            }
          }
          $dirs = Get-ChildItem $(Build.BinariesDirectory) -Directory
          foreach ($dir in $dirs) {
            Write-Host "Directory: $($dir.FullName)"
          }
          $osx_arm64_archive = Get-ChildItem -Path $(Build.BinariesDirectory)/osx-arm64 -Filter onnxruntime-osx-arm64*
          if ($osx_arm64_archive.Count -eq 0) {
            Write-Host "No osx-arm64 archive found."
          } else {
            Write-Host "osx-arm64 archive found: $($osx_arm64_archive[0].FullName)"
          }
        workingDirectory: $(Build.BinariesDirectory)

    - task: PowerShell@2
      displayName: 'Extract Nuget Package Version'
      inputs:
        targetType: 'inline'
        script: |
          $nupkgs = (Get-ChildItem $(Build.BinariesDirectory)/managed-nuget -Filter Microsoft.ML.OnnxRuntime.Managed.*.nupkg -Recurse)
          $package_name = $nupkgs[0].Name
          $version_length = $package_name.Length - "Microsoft.ML.OnnxRuntime.Managed.".Length - ".nupkg".Length
          $package_version = $package_name.Substring("Microsoft.ML.OnnxRuntime.Managed.".Length, $version_length)
          Write-Host "##vso[task.setvariable variable=package_version;]$package_version"
        workingDirectory: $(Build.BinariesDirectory)

    - task: PowerShell@2
      displayName: 'Extract Archives'
      inputs:
        targetType: 'inline'
        script: |
          Expand-Archive -Path $(Build.BinariesDirectory)/win-x64/onnxruntime-win-x64-cuda*.zip -DestinationPath $(Build.BinariesDirectory)/win-x64
          Expand-Archive -Path $(Build.BinariesDirectory)/win-arm64/onnxruntime-win-arm64*.zip -DestinationPath $(Build.BinariesDirectory)/win-arm64
          $osx_arm64_archive = (Get-ChildItem -Path $(Build.BinariesDirectory)/osx-arm64 -Filter onnxruntime-osx-arm64*)[0].FullName
          tar -xzf $osx_arm64_archive -C $(Build.BinariesDirectory)/osx-arm64 2>$null
          $win_x64 = (Get-ChildItem -Path $(Build.BinariesDirectory)/win-x64 -Directory -Filter onnxruntime-win-x64-cuda*)[0].FullName
          $win_arm64 = (Get-ChildItem -Path $(Build.BinariesDirectory)/win-arm64 -Directory -Filter onnxruntime-win-arm64*)[0].FullName
          $osx_arm64 = (Get-ChildItem -Path $(Build.BinariesDirectory)/osx-arm64 -Directory -Filter onnxruntime-osx-arm64*)[0].FullName
          Write-Host "##vso[task.setvariable variable=win_x64;]$win_x64"
          Write-Host "##vso[task.setvariable variable=win_arm64;]$win_arm64"
          Write-Host "##vso[task.setvariable variable=osx_arm64;]$osx_arm64"
        workingDirectory: $(Build.BinariesDirectory)

    - task: PythonScript@0
      displayName: 'Generate Nuget Package'
      inputs:
        scriptPath: '$(Build.SourcesDirectory)/tools/nuget/generate_nuspec_for_custom_nuget.py'
        arguments: '--nuspec_path "$(Build.BinariesDirectory)/${{ parameters.PackageName }}.nuspec" --root_dir "$(Build.SourcesDirectory)" --commit_id "$(Build.SourceVersion)" --win_arm64 "$(win_arm64)" --win_x64 "$(win_x64)" --osx_arm64 "$(osx_arm64)" --package_version "$(package_version)" --package_name "${{ parameters.PackageName }}"'

    - task: NuGetCommand@2
      displayName: 'Pack Nuget Package'
      inputs:
        command: 'pack'
        packagesToPack: '$(Build.BinariesDirectory)/${{ parameters.PackageName }}.nuspec'
        packDestination: $(Build.ArtifactStagingDirectory)\

    - template: esrp_nuget.yml
      parameters:
        DisplayName: 'ESRP - sign NuGet package'
        FolderPath: '$(Build.ArtifactStagingDirectory)'
        DoEsrp: ${{ parameters.DoEsrp }}
